# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
/build
/dist

# React Native
.expo
.expo-shared

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
config.env  # Added line to ignore config.env

# Logs
logs
*.log

# Temporary files
tmp/
temp/
*.tmp

# IDE and Editor configurations
.vscode/
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.tgz
*.gz
*.zip
*.tar
*.rar
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db

# Ignore coverage and reports
coverage/
*.lcov
